<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Resolver Take Home Automation Test Suite" parallel="false">
    <test name="Resolver QE Index Test Cases">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.rthtest.testcases.QEIndexTest">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                    <include name="Test3"/>
                    <include name="Test4"/>
                    <include name="Test5"/>
                    <include name="Test6"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
